body {
    background-color: #00ff61;
}

h1 {
    font-weight: bold;
    font-size: 30px;
    color: black;
    background-color: #1fd81c;
    border: 2px solid black;
    font-family: Oswald;
    font-style: italic;
    text-shadow: 1px 2px white;
    text-transform: uppercase;
    text-align: center;
}

p {
    font-style: italic;
    font-family: oswald;
    font-size: 20px;
    text-shadow: 1px 1px black;
    text-transform: uppercase;
    font-weight: 700;
}

#input {
    height: 36px;
    border:2px solid black;
}

#button {
    border:2px solid black;
    color: black;
}

#rpc {
    width: 500px;
    border:2px solid black;
}

#inputbutton {
    padding: 40px
}
